extends layout

block content
    h2 #{title }
    table
        h6
        thead
            tr
                th Unità
                th Costo
                th Hit Speed
        tbody
            each item in result
                tr
                    if link 
                        td               
                            a(href=`/search/${item.Unit}`)
                                | #{item.Unit}
                    else
                        td #{item.Unit}
                        
                    td #{item.Cost}
                    td #{item.Hit_Speed}